<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verifier</title>
</head>
<body>
    <br><br>
    <form action="" method="post">
        Enter OTP : <input type="number" name="otp" id=""><br><br>
        <input type="submit" name="" value="Submit" id="">
    </form>
    {% if outcome|length == 4 %}
        <h4 style="color: green;">OTP verification successful &#128516</h4>
    {% else %}
        {% if outcome|length == 5 %}
            <h4 style="color: red;">OTP verification failed &#128531</h4>
        {% endif %}
    {% endif %}


</body>
</html>